In [1]:
from google.cloud import storage
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from google.cloud import storage
import pandas as pd

# Initialize a client
client = storage.Client()

# Define the bucket and file
bucket_name = 'retina-analytics-data'
file_name = 'Download Data csv retina (1).csv'

# Get the bucket object
bucket = client.get_bucket(bucket_name)

# Download data as pandas dataframe
blob = bucket.blob(file_name)
blob.download_to_filename('retina_data.csv')

# Load the data into pandas dataframe
df = pd.read_csv('retina_data.csv')
df.head()

,Timestamp,what is your visual acuity,What difficulties in seeing do u have,need,peripheral vision,gender,level of education,consent to share information with funders and research institutes,challenges in job search and mobility,when do you have issues adjusting light,...,age,Name,Email,Address,Phone number,Comments please add your measurements here from the doctors,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,2024/06/04 7:12:42 PM GMT+3,NaN,NaN,assistive device,Option 1,NaN,Bachelor Abschluss,Yes I consent,Option 1,NaN,...,20 to 30,Anita Atuheire,anita37desa@gmail.com,Schäufeleinstraße 26a,5218061474,NaN,Stundent,Student,retinal dystophy,other
1,2024/07/11 6:25:15 PM GMT+3,NaN,NaN,job,NaN,NaN,Bachelor's degree in Arts Education,I do consent,Option 1,NaN,...,20 to 30,Sangalo Dianah,sangalodianah2@gmail.com,Bombo Kalule,777744959,Need your support and help,NaN,Teacher,retinitis pigmentosa,impairement degree
2,2024/07/11 6:33:16 PM GMT+3,NaN,NaN,work training,NaN,NaN,University,I consent,Option 1,NaN,...,20 to 30,Atim Nelly Marie,nellymarieatim@gmail.com,Currently in Nakasongola,O760074203,I thank you for this but please I would like t...,Teacher,Teacher,retinitis pigmentosa,visual acuity degree
3,2024/07/11 7:56:36 PM GMT+3,NaN,NaN,assistive device,Option 1,NaN,University,Yes,Option 1,NaN,...,20 to 30,Openda Hillary,opendahillary89@gmail.com,"Ocwee memorial hostel, Gulu city",756998432,None,Student,Student,retinitis pigmentosa,visual acuity degree
4,2024/07/11 8:33:01 PM GMT+3,NaN,NaN,assistive device,Option 1,NaN,Undergraduate,Yes,Option 1,NaN,...,20 to 30,Kiwanda uthaifah,kiwandauthaifah483@gmail.com,Gulu.,759894923,Disease condition is keratoconus with myopia.\...,Student,Student,NaN,visual acuity degree

In [3]:
# Renaming 'Name' to 'Full Name' and 'Age' to 'Years'
data_renamed = df.rename(columns={'what is your visual acuity':'visual_acuity', 
                                    'What difficulties in seeing do u have': 'Vision_difficulties',
                                    'level of education': 'Education_level',
                                    'peripheral vision': 'Peripheral_vision',
                                    'gender': 'Gender',
                                    'disease progress degeneration': 'Degeneration',
                                    'age': 'Age',
                                    'modern or traditional technologies':'Technologies',
                                    'when do you have issues adjusting light': 'Adjusting_Light',
                                    'can you drive': 'Driving',
                                   'Unnamed: 25': 'Occupation',
                                    'Unnamed: 26': 'Disease',
                                   })
data_renamed.head(2)

,Timestamp,visual_acuity,Vision_difficulties,need,Peripheral_vision,Gender,Education_level,consent to share information with funders and research institutes,challenges in job search and mobility,Adjusting_Light,...,Age,Name,Email,Address,Phone number,Comments please add your measurements here from the doctors,Unnamed: 24,Occupation,Disease,Unnamed: 27
0,2024/06/04 7:12:42 PM GMT+3,NaN,NaN,assistive device,Option 1,NaN,Bachelor Abschluss,Yes I consent,Option 1,NaN,...,20 to 30,Anita Atuheire,anita37desa@gmail.com,Schäufeleinstraße 26a,5218061474,NaN,Stundent,Student,retinal dystophy,other
1,2024/07/11 6:25:15 PM GMT+3,NaN,NaN,job,NaN,NaN,Bachelor's degree in Arts Education,I do consent,Option 1,NaN,...,20 to 30,Sangalo Dianah,sangalodianah2@gmail.com,Bombo Kalule,777744959,Need your support and help,NaN,Teacher,retinitis pigmentosa,impairement degree

In [4]:
# If the column has leading/trailing spaces, strip them:
data_renamed.columns = data_renamed.columns.str.strip()

In [5]:
# Selecting specific columns to create a sub-dataset
sub_dataset = data_renamed[['need', 'Education_level', 'Age', 'Occupation', 'Disease']]
# Display the first few rows of the sub-dataset
print(sub_dataset)

                need                                    Education_level  \
0   assistive device                                Bachelor Abschluss
1                job                Bachelor's degree in Arts Education
2      work training                                        University
3   assistive device                                        University
4   assistive device                                      Undergraduate
5              other     S.6/ Uganda Advanced Certificate of Education
6      work training                                        University
7   assistive device                                        University
8              other                                        University
9                NaN                Faculty of Education and Humanities
10  assistive device                                        University
11  assistive device                                        University
12  assistive device                                        University
13  assistive device                                    Senior 6 level
14  assistive device  Bachelor of Arts Education, history and Econom...
15  assistive device          Year 4 Bachelor’s in Medicine and Surgery
16  assistive device                                            Degree
17               NaN                           Currently at University
18  assistive device                                        University
19  assistive device                                             Degree
20             other                                        University
21  assistive device                                            Degree
22  assistive device                                        University
23  assistive device                                  Bachelor's degree
24  assistive device                                          Bachelors
25               job                                        University
26  assistive device                                  Bachelor's degree
27  assistive device                                        University
28  assistive device                                  Bachelors degree
29  assistive device                                         University
30  assistive device                                            Degree
31             other                                           Tertiary
32  assistive device                                             Year 2
33               NaN                                               UACE
34  assistive device                                             DEGREE
35             other                                University student
36  assistive device                                         Bachelors
37               NaN                                      Degree level
38  assistive device                                 Bachelor's degree
39  assistive device                                            Degree
40  assistive device                                     Undergraduate
41  assistive device               Bachelor degree Arts with Education
42  assistive device                                        University
43  assistive device                                                S.4
44  assistive device                                            Deploma
45  assistive device                                           Student
46             other                                       Institution
47  assistive device                                          Tertiary
48  assistive device                                        University
49  assistive device                                             Degree
50  assistive device                                            Degree

         Age                                 Occupation  \
0   20 to 30                                   Student
1   20 to 30                                    Teacher
2   20 to 30                                    Teacher
3   20 to 30                                   Student
4   20 to 30                                    Student
5   20 to 30                                    Student
6   20 to 30                                   Student
7   20 to 30                                   Student
8   20 to 30                                    Student
9   20 to 30                                        NaN
10  20 to 30                           Medical student
11  20 to 30                                   Student
12  20 to 30                                   Student
13  31 to 40                                   Student
14  20 to 30                                  Teaching
15  20 to 30                                    Student
16  20 to 30                                        NaN
17  20 to 30                                   Student
18  20 to 30                           Medical student
19  20 to 30                                   Student
20  20 to 30                                   Student
21  31 to 40                                    Student
22  20 to 30                                    Student
23  20 to 30                                  A student
24  20 to 30                                    Student
25  20 to 30  Undergraduate student (Bachelor's degree)
26  20 to 30                                    Student
27  20 to 30                                    Student
28  20 to 30                                   Student
29  20 to 30                                    Student
30  20 to 30                                    Student
31  20 to 30                                    Student
32  20 to 30            Student at kyambogo university
33  20 to 30                                   Student
34  20 to 30                                    STUDENT
35  20 to 30                                    Student
36  20 to 30                                   Student
37  20 to 30                                   Student
38  20 to 30                                   Student
39  20 to 30                                   Teacher
40  20 to 30          student in Fourth year doing BNUR
41  20 to 30                                   Student
42  20 to 30                                   Student
43  41 to 50                                 House wife
44  41 to 50                                    teacher
45  20 to 30                                         No
46  31 to 40                                   Student
47  41 to 50                             Self employed
48  20 to 30                                   Student
49  20 to 30                                    Student
50  20 to 30                                   Student

                      Disease
0            retinal dystophy
1        retinitis pigmentosa
2        retinitis pigmentosa
3        retinitis pigmentosa
4                         NaN
5                         NaN
6        retinitis pigmentosa
7            retinal dystophy
8                         NaN
9                         NaN
10                        NaN
11                   glaucoma
12                   glaucoma
13       retinitis pigmentosa
14           retinal dystophy
15           retinal dystophy
16           retinal dystophy
17                        NaN
18                        NaN
19                        NaN
20                        NaN
21                   glaucoma
22                        NaN
23       macular degeneration
24                   glaucoma
25                        NaN
26                        NaN
27                        NaN
28       macular degeneration
29                        NaN
30       macular degeneration
31       macular degeneration
32                        NaN
33                        NaN
34                        NaN
35                        NaN
36                   glaucoma
37                        NaN
38                   glaucoma
39       retinitis pigmentosa
40  glaucoma;retinal dystophy
41           retinal dystophy
42       retinitis pigmentosa
43                 choromedia
44                   glaucoma
45                        NaN
46       macular degeneration
47                        NaN
48                 choromedia
49                   glaucoma
50       macular degeneration

In [6]:
# Print unique levels for each column
for column in sub_dataset.columns:
    print(f"Levels for column '{column}':")
    print(sub_dataset[column].unique())
    print()

Levels for column 'need':
['assistive device' 'job' 'work training' 'other' nan]

Levels for column 'Education_level':
['Bachelor Abschluss ' "Bachelor's degree in Arts Education" 'University '
 'Undergraduate' 'S.6/ Uganda Advanced Certificate of Education '
 'Faculty of Education and Humanities' 'Senior 6 level '
 'Bachelor of Arts Education, history and Economics '
 'Year 4 Bachelor’s in Medicine and Surgery' 'Degree '
 'Currently at University ' 'Degree' "Bachelor's degree" 'Bachelors'
 'Bachelors degree ' 'University' 'Tertiary' 'Year 2' 'UACE' 'DEGREE'
 'University student ' 'Bachelors ' 'Degree level ' "Bachelor's degree "
 'Undergraduate ' 'Bachelor degree Arts with Education ' 'S.4' 'Deploma'
 'Student ' 'Institution ' 'Tertiary ']

Levels for column 'Age':
['20 to 30' '31 to 40' '41 to 50']

Levels for column 'Occupation':
['Student ' 'Teacher' 'Student' nan 'Medical student ' 'Teaching '
 'A student' "Undergraduate student (Bachelor's degree)"
 'Student at kyambogo university ' 'STUDENT' 'Teacher '
 'student in Fourth year doing BNUR' 'House wife' 'teacher' 'No'
 'Self employed ']

Levels for column 'Disease':
['retinal dystophy' 'retinitis pigmentosa' nan 'glaucoma'
 'macular degeneration' 'glaucoma;retinal dystophy' 'choromedia']

In [7]:
#map needs to 
need_mapping = {
    'assistive device': 'Assistive Device',
    'job': 'Job',
    'work training': 'Skills Training',
    'other': 'Other',
    np.nan: 'Unknown'
}
sub_dataset.loc[:, 'need'] = sub_dataset['need'].map(need_mapping)

In [8]:
# Define numeric mapping for age categories
age_numeric_mapping = {
    '20 to 30': 1,
    '31 to 40': 2,
    '41 to 50': 3
}

# Apply numeric mapping to the 'age' column
sub_dataset.loc[:, 'Age'] = sub_dataset['Age'].map(age_numeric_mapping)

In [9]:
print(sub_dataset)

                need                                    Education_level Age  \
0   Assistive Device                                Bachelor Abschluss    1
1                Job                Bachelor's degree in Arts Education   1
2    Skills Training                                        University    1
3   Assistive Device                                        University    1
4   Assistive Device                                      Undergraduate   1
5              Other     S.6/ Uganda Advanced Certificate of Education    1
6    Skills Training                                        University    1
7   Assistive Device                                        University    1
8              Other                                        University    1
9            Unknown                Faculty of Education and Humanities   1
10  Assistive Device                                        University    1
11  Assistive Device                                        University    1
12  Assistive Device                                        University    1
13  Assistive Device                                    Senior 6 level    2
14  Assistive Device  Bachelor of Arts Education, history and Econom...   1
15  Assistive Device          Year 4 Bachelor’s in Medicine and Surgery   1
16  Assistive Device                                            Degree    1
17           Unknown                           Currently at University    1
18  Assistive Device                                        University    1
19  Assistive Device                                             Degree   1
20             Other                                        University    1
21  Assistive Device                                            Degree    2
22  Assistive Device                                        University    1
23  Assistive Device                                  Bachelor's degree   1
24  Assistive Device                                          Bachelors   1
25               Job                                        University    1
26  Assistive Device                                  Bachelor's degree   1
27  Assistive Device                                        University    1
28  Assistive Device                                  Bachelors degree    1
29  Assistive Device                                         University   1
30  Assistive Device                                            Degree    1
31             Other                                           Tertiary   1
32  Assistive Device                                             Year 2   1
33           Unknown                                               UACE   1
34  Assistive Device                                             DEGREE   1
35             Other                                University student    1
36  Assistive Device                                         Bachelors    1
37           Unknown                                      Degree level    1
38  Assistive Device                                 Bachelor's degree    1
39  Assistive Device                                            Degree    1
40  Assistive Device                                     Undergraduate    1
41  Assistive Device               Bachelor degree Arts with Education    1
42  Assistive Device                                        University    1
43  Assistive Device                                                S.4   3
44  Assistive Device                                            Deploma   3
45  Assistive Device                                           Student    1
46             Other                                       Institution    2
47  Assistive Device                                          Tertiary    3
48  Assistive Device                                        University    1
49  Assistive Device                                             Degree   1
50  Assistive Device                                            Degree    1

                                   Occupation                    Disease
0                                    Student            retinal dystophy
1                                     Teacher       retinitis pigmentosa
2                                     Teacher       retinitis pigmentosa
3                                    Student        retinitis pigmentosa
4                                     Student                        NaN
5                                     Student                        NaN
6                                    Student        retinitis pigmentosa
7                                    Student            retinal dystophy
8                                     Student                        NaN
9                                         NaN                        NaN
10                           Medical student                         NaN
11                                   Student                    glaucoma
12                                   Student                    glaucoma
13                                   Student        retinitis pigmentosa
14                                  Teaching            retinal dystophy
15                                    Student           retinal dystophy
16                                        NaN           retinal dystophy
17                                   Student                         NaN
18                           Medical student                         NaN
19                                   Student                         NaN
20                                   Student                         NaN
21                                    Student                   glaucoma
22                                    Student                        NaN
23                                  A student       macular degeneration
24                                    Student                   glaucoma
25  Undergraduate student (Bachelor's degree)                        NaN
26                                    Student                        NaN
27                                    Student                        NaN
28                                   Student        macular degeneration
29                                    Student                        NaN
30                                    Student       macular degeneration
31                                    Student       macular degeneration
32            Student at kyambogo university                         NaN
33                                   Student                         NaN
34                                    STUDENT                        NaN
35                                    Student                        NaN
36                                   Student                    glaucoma
37                                   Student                         NaN
38                                   Student                    glaucoma
39                                   Teacher        retinitis pigmentosa
40          student in Fourth year doing BNUR  glaucoma;retinal dystophy
41                                   Student            retinal dystophy
42                                   Student        retinitis pigmentosa
43                                 House wife                 choromedia
44                                    teacher                   glaucoma
45                                         No                        NaN
46                                   Student        macular degeneration
47                             Self employed                         NaN
48                                   Student                  choromedia
49                                    Student                   glaucoma
50                                   Student        macular degeneration

In [10]:
# Define the refined mapping
level_of_education_mapping = {
    'Bachelor Abschluss ': 'University',
    "Bachelor's degree in Arts Education": 'University',
    'University ': 'University',
    'Undergraduate': 'University',
    'S.6/ Uganda Advanced Certificate of Education ': 'Advanced Secondary',
    'Faculty of Education and Humanities': 'University',
    'Senior 6 level ': 'Advanced Secondary',
    'Bachelor of Arts Education, history and Economics ': 'University',
    'Year 4 Bachelor’s in Medicine and Surgery': 'University',
    'Degree ': 'University',
    'Currently at University ': 'University',
    'Degree': 'University',
    "Bachelor's degree": 'University',
    'Bachelors': 'University',
    'Bachelors degree ': 'University',
    'University': 'University',
    'Tertiary': 'Tertiary',
    'Year 2': 'University',
    'UACE': 'Advanced Secondary',
    'DEGREE': 'University',
    'University student ': 'University',
    'Bachelors ': 'University',
    'Degree level ': 'University',
    "Bachelor's degree ": 'University',
    'Undergraduate ': 'University',
    'Bachelor degree Arts with Education ': 'University',
    'S.4': 'Ordinary Secondary',
    'Deploma': 'Diploma Level',
    'Student ': 'University',
    'Institution ': 'Diploma Level',
    'Tertiary ': 'Tertiary',
    np.nan: 'Unknown'
}

# Apply the mapping
sub_dataset['Education_level'] = sub_dataset['Education_level'].map(level_of_education_mapping)

/tmp/ipykernel_1/463383663.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_dataset['Education_level'] = sub_dataset['Education_level'].map(level_of_education_mapping)

In [11]:
print(sub_dataset)

                need     Education_level Age  \
0   Assistive Device          University   1
1                Job          University   1
2    Skills Training          University   1
3   Assistive Device          University   1
4   Assistive Device          University   1
5              Other  Advanced Secondary   1
6    Skills Training          University   1
7   Assistive Device          University   1
8              Other          University   1
9            Unknown          University   1
10  Assistive Device          University   1
11  Assistive Device          University   1
12  Assistive Device          University   1
13  Assistive Device  Advanced Secondary   2
14  Assistive Device          University   1
15  Assistive Device          University   1
16  Assistive Device          University   1
17           Unknown          University   1
18  Assistive Device          University   1
19  Assistive Device          University   1
20             Other          University   1
21  Assistive Device          University   2
22  Assistive Device          University   1
23  Assistive Device          University   1
24  Assistive Device          University   1
25               Job          University   1
26  Assistive Device          University   1
27  Assistive Device          University   1
28  Assistive Device          University   1
29  Assistive Device          University   1
30  Assistive Device          University   1
31             Other            Tertiary   1
32  Assistive Device          University   1
33           Unknown  Advanced Secondary   1
34  Assistive Device          University   1
35             Other          University   1
36  Assistive Device          University   1
37           Unknown          University   1
38  Assistive Device          University   1
39  Assistive Device          University   1
40  Assistive Device          University   1
41  Assistive Device          University   1
42  Assistive Device          University   1
43  Assistive Device  Ordinary Secondary   3
44  Assistive Device       Diploma Level   3
45  Assistive Device          University   1
46             Other       Diploma Level   2
47  Assistive Device            Tertiary   3
48  Assistive Device          University   1
49  Assistive Device          University   1
50  Assistive Device          University   1

                                   Occupation                    Disease
0                                    Student            retinal dystophy
1                                     Teacher       retinitis pigmentosa
2                                     Teacher       retinitis pigmentosa
3                                    Student        retinitis pigmentosa
4                                     Student                        NaN
5                                     Student                        NaN
6                                    Student        retinitis pigmentosa
7                                    Student            retinal dystophy
8                                     Student                        NaN
9                                         NaN                        NaN
10                           Medical student                         NaN
11                                   Student                    glaucoma
12                                   Student                    glaucoma
13                                   Student        retinitis pigmentosa
14                                  Teaching            retinal dystophy
15                                    Student           retinal dystophy
16                                        NaN           retinal dystophy
17                                   Student                         NaN
18                           Medical student                         NaN
19                                   Student                         NaN
20                                   Student                         NaN
21                                    Student                   glaucoma
22                                    Student                        NaN
23                                  A student       macular degeneration
24                                    Student                   glaucoma
25  Undergraduate student (Bachelor's degree)                        NaN
26                                    Student                        NaN
27                                    Student                        NaN
28                                   Student        macular degeneration
29                                    Student                        NaN
30                                    Student       macular degeneration
31                                    Student       macular degeneration
32            Student at kyambogo university                         NaN
33                                   Student                         NaN
34                                    STUDENT                        NaN
35                                    Student                        NaN
36                                   Student                    glaucoma
37                                   Student                         NaN
38                                   Student                    glaucoma
39                                   Teacher        retinitis pigmentosa
40          student in Fourth year doing BNUR  glaucoma;retinal dystophy
41                                   Student            retinal dystophy
42                                   Student        retinitis pigmentosa
43                                 House wife                 choromedia
44                                    teacher                   glaucoma
45                                         No                        NaN
46                                   Student        macular degeneration
47                             Self employed                         NaN
48                                   Student                  choromedia
49                                    Student                   glaucoma
50                                   Student        macular degeneration

In [12]:
#need,disease
# Define the refined mapping
level_of_education_mapping = {
    'Bachelor Abschluss ': 'University',
    "Bachelor's degree in Arts Education": 'University',
    'University ': 'University',
    'Undergraduate': 'University',
    'S.6/ Uganda Advanced Certificate of Education ': 'Advanced Secondary',
    'Faculty of Education and Humanities': 'University',
    'Senior 6 level ': 'Advanced Secondary',
    'Bachelor of Arts Education, history and Economics ': 'University',
    'Year 4 Bachelor’s in Medicine and Surgery': 'University',
    'Degree ': 'University',
    'Currently at University ': 'University',
    'Degree': 'University',
    "Bachelor's degree": 'University',
    'Bachelors': 'University',
    'Bachelors degree ': 'University',
    'University': 'University',
    'Tertiary': 'Tertiary',
    'Year 2': 'University',
    'UACE': 'Advanced Secondary',
    'DEGREE': 'University',
    'University student ': 'University',
    'Bachelors ': 'University',
    'Degree level ': 'University',
    "Bachelor's degree ": 'University',
    'Undergraduate ': 'University',
    'Bachelor degree Arts with Education ': 'University',
    'S.4': 'Ordinary Secondary',
    'Deploma': 'Diploma Level',
    'Student ': 'University',
    'Institution ': 'Diploma Level',
    'Tertiary ': 'Tertiary',
    np.NaN: 'Unknown'
}

# Apply the mapping
sub_dataset['Education_level'] = sub_dataset['Education_level'].map(level_of_education_mapping)

/tmp/ipykernel_1/884983108.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_dataset['Education_level'] = sub_dataset['Education_level'].map(level_of_education_mapping)

In [13]:
Ocupation_mapping = {
    'Student': 'Student',
    'Student ':'Student',
    'STUDENT' : 'Student',
    'Teacher ':'Employed',
    'teacher':'Employed',
    'Medical student ':'Student',
    "Teacher": 'Employed',
    'Medical student': 'Student',
    'Teaching': 'Employed',
    "Undergraduate student (Bachelor's degree)": 'Student',
    'Student at kyambogo university ':'Student',
    'student in Fourth year doing BNUR':'Student',
    'No': 'Unemployed',
    'teacher':'Employed',
    'House wife': 'Unemployed',
    'Self employed ':'Employed',
    'Teaching ':'Employed',
    'A student':'Student',
   
    np.NaN: 'Other'
}

# Apply the mapping
sub_dataset['Occupation'] = sub_dataset['Occupation'].map(Ocupation_mapping)

/tmp/ipykernel_1/3551130812.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_dataset['Occupation'] = sub_dataset['Occupation'].map(Ocupation_mapping)

In [14]:
print(sub_dataset)

                need Education_level Age  Occupation  \
0   Assistive Device      University   1     Student
1                Job      University   1    Employed
2    Skills Training      University   1    Employed
3   Assistive Device      University   1     Student
4   Assistive Device      University   1     Student
5              Other             NaN   1     Student
6    Skills Training      University   1     Student
7   Assistive Device      University   1     Student
8              Other      University   1     Student
9            Unknown      University   1       Other
10  Assistive Device      University   1     Student
11  Assistive Device      University   1     Student
12  Assistive Device      University   1     Student
13  Assistive Device             NaN   2     Student
14  Assistive Device      University   1    Employed
15  Assistive Device      University   1     Student
16  Assistive Device      University   1       Other
17           Unknown      University   1     Student
18  Assistive Device      University   1     Student
19  Assistive Device      University   1     Student
20             Other      University   1     Student
21  Assistive Device      University   2     Student
22  Assistive Device      University   1     Student
23  Assistive Device      University   1     Student
24  Assistive Device      University   1     Student
25               Job      University   1     Student
26  Assistive Device      University   1     Student
27  Assistive Device      University   1     Student
28  Assistive Device      University   1     Student
29  Assistive Device      University   1     Student
30  Assistive Device      University   1     Student
31             Other        Tertiary   1     Student
32  Assistive Device      University   1     Student
33           Unknown             NaN   1     Student
34  Assistive Device      University   1     Student
35             Other      University   1     Student
36  Assistive Device      University   1     Student
37           Unknown      University   1     Student
38  Assistive Device      University   1     Student
39  Assistive Device      University   1    Employed
40  Assistive Device      University   1     Student
41  Assistive Device      University   1     Student
42  Assistive Device      University   1     Student
43  Assistive Device             NaN   3  Unemployed
44  Assistive Device             NaN   3    Employed
45  Assistive Device      University   1  Unemployed
46             Other             NaN   2     Student
47  Assistive Device        Tertiary   3    Employed
48  Assistive Device      University   1     Student
49  Assistive Device      University   1     Student
50  Assistive Device      University   1     Student

                      Disease
0            retinal dystophy
1        retinitis pigmentosa
2        retinitis pigmentosa
3        retinitis pigmentosa
4                         NaN
5                         NaN
6        retinitis pigmentosa
7            retinal dystophy
8                         NaN
9                         NaN
10                        NaN
11                   glaucoma
12                   glaucoma
13       retinitis pigmentosa
14           retinal dystophy
15           retinal dystophy
16           retinal dystophy
17                        NaN
18                        NaN
19                        NaN
20                        NaN
21                   glaucoma
22                        NaN
23       macular degeneration
24                   glaucoma
25                        NaN
26                        NaN
27                        NaN
28       macular degeneration
29                        NaN
30       macular degeneration
31       macular degeneration
32                        NaN
33                        NaN
34                        NaN
35                        NaN
36                   glaucoma
37                        NaN
38                   glaucoma
39       retinitis pigmentosa
40  glaucoma;retinal dystophy
41           retinal dystophy
42       retinitis pigmentosa
43                 choromedia
44                   glaucoma
45                        NaN
46       macular degeneration
47                        NaN
48                 choromedia
49                   glaucoma
50       macular degeneration

In [15]:
#ocupation,isease
# Define the refined mapping
level_of_education_mapping = {
    'Bachelor Abschluss ': 'University',
    "Bachelor's degree in Arts Education": 'University',
    'University ': 'University',
    'Undergraduate': 'University',
    'S.6/ Uganda Advanced Certificate of Education ': 'Advanced Secondary',
    'Faculty of Education and Humanities': 'University',
    'Senior 6 level ': 'Advanced Secondary',
    'Bachelor of Arts Education, history and Economics ': 'University',
    'Year 4 Bachelor’s in Medicine and Surgery': 'University',
    'Degree ': 'University',
    'Currently at University ': 'University',
    'Degree': 'University',
    "Bachelor's degree": 'University',
    'Bachelors': 'University',
    'Bachelors degree ': 'University',
    'University': 'University',
    'Tertiary': 'Tertiary',
    'Year 2': 'University',
    'UACE': 'Advanced Secondary',
    'DEGREE': 'University',
    'University student ': 'University',
    'Bachelors ': 'University',
    'Degree level ': 'University',
    "Bachelor's degree ": 'University',
    'Undergraduate ': 'University',
    'Bachelor degree Arts with Education ': 'University',
    'S.4': 'Ordinary Secondary',
    'Deploma': 'Diploma Level',
    'Student ': 'University',
    'Institution ': 'Diploma Level',
    'Tertiary ': 'Tertiary',
    np.nan: 'Unknown'
}

# Apply the mapping
sub_dataset['Education_level'] = sub_dataset['Education_level'].map(level_of_education_mapping)

/tmp/ipykernel_1/4202433503.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_dataset['Education_level'] = sub_dataset['Education_level'].map(level_of_education_mapping)

In [16]:
print(sub_dataset)

                need Education_level Age  Occupation  \
0   Assistive Device      University   1     Student
1                Job      University   1    Employed
2    Skills Training      University   1    Employed
3   Assistive Device      University   1     Student
4   Assistive Device      University   1     Student
5              Other         Unknown   1     Student
6    Skills Training      University   1     Student
7   Assistive Device      University   1     Student
8              Other      University   1     Student
9            Unknown      University   1       Other
10  Assistive Device      University   1     Student
11  Assistive Device      University   1     Student
12  Assistive Device      University   1     Student
13  Assistive Device         Unknown   2     Student
14  Assistive Device      University   1    Employed
15  Assistive Device      University   1     Student
16  Assistive Device      University   1       Other
17           Unknown      University   1     Student
18  Assistive Device      University   1     Student
19  Assistive Device      University   1     Student
20             Other      University   1     Student
21  Assistive Device      University   2     Student
22  Assistive Device      University   1     Student
23  Assistive Device      University   1     Student
24  Assistive Device      University   1     Student
25               Job      University   1     Student
26  Assistive Device      University   1     Student
27  Assistive Device      University   1     Student
28  Assistive Device      University   1     Student
29  Assistive Device      University   1     Student
30  Assistive Device      University   1     Student
31             Other        Tertiary   1     Student
32  Assistive Device      University   1     Student
33           Unknown         Unknown   1     Student
34  Assistive Device      University   1     Student
35             Other      University   1     Student
36  Assistive Device      University   1     Student
37           Unknown      University   1     Student
38  Assistive Device      University   1     Student
39  Assistive Device      University   1    Employed
40  Assistive Device      University   1     Student
41  Assistive Device      University   1     Student
42  Assistive Device      University   1     Student
43  Assistive Device         Unknown   3  Unemployed
44  Assistive Device         Unknown   3    Employed
45  Assistive Device      University   1  Unemployed
46             Other         Unknown   2     Student
47  Assistive Device        Tertiary   3    Employed
48  Assistive Device      University   1     Student
49  Assistive Device      University   1     Student
50  Assistive Device      University   1     Student

                      Disease
0            retinal dystophy
1        retinitis pigmentosa
2        retinitis pigmentosa
3        retinitis pigmentosa
4                         NaN
5                         NaN
6        retinitis pigmentosa
7            retinal dystophy
8                         NaN
9                         NaN
10                        NaN
11                   glaucoma
12                   glaucoma
13       retinitis pigmentosa
14           retinal dystophy
15           retinal dystophy
16           retinal dystophy
17                        NaN
18                        NaN
19                        NaN
20                        NaN
21                   glaucoma
22                        NaN
23       macular degeneration
24                   glaucoma
25                        NaN
26                        NaN
27                        NaN
28       macular degeneration
29                        NaN
30       macular degeneration
31       macular degeneration
32                        NaN
33                        NaN
34                        NaN
35                        NaN
36                   glaucoma
37                        NaN
38                   glaucoma
39       retinitis pigmentosa
40  glaucoma;retinal dystophy
41           retinal dystophy
42       retinitis pigmentosa
43                 choromedia
44                   glaucoma
45                        NaN
46       macular degeneration
47                        NaN
48                 choromedia
49                   glaucoma
50       macular degeneration

In [17]:
Disease_mapping = {
    'retinitis pigmentosa': 'retinal dystophy',
    "retinal dystophy": 'retinal dystophy',
    'glaucoma': 'glaucoma',
    'macular degeneration': 'macular degeneration',
    'choromedia': 'choromedia',
    np.NaN: 'Other'
}

# Apply the mapping
sub_dataset['Disease'] = sub_dataset['Disease'].map(Disease_mapping)
print(sub_dataset)

                need Education_level Age  Occupation               Disease
0   Assistive Device      University   1     Student      retinal dystophy
1                Job      University   1    Employed      retinal dystophy
2    Skills Training      University   1    Employed      retinal dystophy
3   Assistive Device      University   1     Student      retinal dystophy
4   Assistive Device      University   1     Student                 Other
5              Other         Unknown   1     Student                 Other
6    Skills Training      University   1     Student      retinal dystophy
7   Assistive Device      University   1     Student      retinal dystophy
8              Other      University   1     Student                 Other
9            Unknown      University   1       Other                 Other
10  Assistive Device      University   1     Student                 Other
11  Assistive Device      University   1     Student              glaucoma
12  Assistive Device      University   1     Student              glaucoma
13  Assistive Device         Unknown   2     Student      retinal dystophy
14  Assistive Device      University   1    Employed      retinal dystophy
15  Assistive Device      University   1     Student      retinal dystophy
16  Assistive Device      University   1       Other      retinal dystophy
17           Unknown      University   1     Student                 Other
18  Assistive Device      University   1     Student                 Other
19  Assistive Device      University   1     Student                 Other
20             Other      University   1     Student                 Other
21  Assistive Device      University   2     Student              glaucoma
22  Assistive Device      University   1     Student                 Other
23  Assistive Device      University   1     Student  macular degeneration
24  Assistive Device      University   1     Student              glaucoma
25               Job      University   1     Student                 Other
26  Assistive Device      University   1     Student                 Other
27  Assistive Device      University   1     Student                 Other
28  Assistive Device      University   1     Student  macular degeneration
29  Assistive Device      University   1     Student                 Other
30  Assistive Device      University   1     Student  macular degeneration
31             Other        Tertiary   1     Student  macular degeneration
32  Assistive Device      University   1     Student                 Other
33           Unknown         Unknown   1     Student                 Other
34  Assistive Device      University   1     Student                 Other
35             Other      University   1     Student                 Other
36  Assistive Device      University   1     Student              glaucoma
37           Unknown      University   1     Student                 Other
38  Assistive Device      University   1     Student              glaucoma
39  Assistive Device      University   1    Employed      retinal dystophy
40  Assistive Device      University   1     Student                   NaN
41  Assistive Device      University   1     Student      retinal dystophy
42  Assistive Device      University   1     Student      retinal dystophy
43  Assistive Device         Unknown   3  Unemployed            choromedia
44  Assistive Device         Unknown   3    Employed              glaucoma
45  Assistive Device      University   1  Unemployed                 Other
46             Other         Unknown   2     Student  macular degeneration
47  Assistive Device        Tertiary   3    Employed                 Other
48  Assistive Device      University   1     Student            choromedia
49  Assistive Device      University   1     Student              glaucoma
50  Assistive Device      University   1     Student  macular degeneration

/tmp/ipykernel_1/2774742312.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_dataset['Disease'] = sub_dataset['Disease'].map(Disease_mapping)

In [18]:
sub_dataset.to_csv('Retina_dataset.csv', index=False)
#export data

In [19]:
# Define numeric mapping for age categories
Occupation_numeric_mapping = {
    'Student': 1,
    'Unemployed': 2,
    'Employed': 3,
    'Other':4
}

# Apply numeric mapping to the 'age' column
sub_dataset.loc[:, 'Occupation'] = sub_dataset['Occupation'].map(Occupation_numeric_mapping)

In [20]:
sub_dataset.head()

               need Education_level Age Occupation           Disease
0  Assistive Device      University   1          1  retinal dystophy
1               Job      University   1          3  retinal dystophy
2   Skills Training      University   1          3  retinal dystophy
3  Assistive Device      University   1          1  retinal dystophy
4  Assistive Device      University   1          1             Other

In [21]:
# Disease mapping
Disease_numeric_mapping = {
    'choromedia': 1,
    'retinal dystophy': 2,
    'glaucoma': 3,
    'macular degeneration': 4,
    'Other': 5
}

# Apply numeric mapping to the 'Disease' column and fill missing values with 0
sub_dataset['Disease'] = sub_dataset['Disease'].map(Disease_numeric_mapping).fillna(0).astype(int)

/tmp/ipykernel_1/784212382.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_dataset['Disease'] = sub_dataset['Disease'].map(Disease_numeric_mapping).fillna(0).astype(int)

In [22]:
sub_dataset.head(2)

               need Education_level Age Occupation  Disease
0  Assistive Device      University   1          1        2
1               Job      University   1          3        2

In [23]:
Education_level_numeric_mapping = {
    'Tertiary': 1,
    'University': 2,
    'Unknown': 3

}

# Apply numeric mapping to the 'Education_level' column
sub_dataset.loc[:, 'Education_level'] = sub_dataset['Education_level'].map(Education_level_numeric_mapping)

In [24]:
sub_dataset.head(3)

               need Education_level Age Occupation  Disease
0  Assistive Device               2   1          1        2
1               Job               2   1          3        2
2   Skills Training               2   1          3        2

In [25]:
need_numeric_mapping = {
    'Assistive Device': 1,
    'Skills Training': 2,
    'Job': 3,
    'Unknown' :4,
    'Other' :5

}

# Apply numeric mapping to the 'Education_level' column
sub_dataset.loc[:, 'need'] = sub_dataset['need'].map(need_numeric_mapping)

In [26]:
sub_dataset.head(4)

  need Education_level Age Occupation  Disease
0    1               2   1          1        2
1    3               2   1          3        2
2    2               2   1          3        2
3    1               2   1          1        2